*{
    margin: 0px;
}

.title{
    display: flex;
    justify-content: center;
}
.button-container{
    display: flex;
    justify-content: center;
}
.grid-section{
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid-container{
    display: flex;
    width: 960px;
    height: 960px;
    border: black 2px solid;
    flex-direction: column;
    /* background-color: blue; */
}

.grid-row{
    display: flex;
    flex: 1;
}

.box{
    flex: 1;
    border: black 1px solid;
}